body{
    font-family: sans-serif;
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 50%;
}

.container{
    background-color: aliceblue;
    padding: 50%;
    border-radius: 8px;
    width: 300px;
}

form{
    display: 10px;
    flex-direction: column;
    gap: 18px;
}

input, button{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button{
    background-color: aliceblue;
    color: aqua;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: aquamarine;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background: #eee ;
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-variant: unset;
}